<footer class="footer mt-4 py-4 bg-primary">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-sm text-lg-start text-white">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>,
                    made with 💖 by
                    <a href="" class="font-weight-bold text-white" target="_blank">Wellness
                        Forever</a>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="nav-footer justify-content-lg-end ms-auto">
                    <!-- <a class="btn btn-primary next-btn" href="sign-in.html"><i class="fa fa-sign-out"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</footer>