{% extends "layouts/base.html" %}

{% block title %} Purchase Order {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"> -->

<!-- APP Style -->
<link type="text/css" href="/static/datatables/app.css" rel="stylesheet">
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<div class="py-4">
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item">
        <a href="#">
          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
            </path>
          </svg>
        </a>
      </li>
      <li class="breadcrumb-item"><a href="#">Data Tables</a></li>
      <li class="breadcrumb-item active" aria-current="page">File Provisioning</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Simple DataTables</h1>
      <p class="mb-0">
        The information is loaded from <strong>samples\{{ input }}</strong>.

        <br />
        {{ msg }}
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <select name="csv_file" id="csv_file" class="form-select csv_file">
        {% for f in csv_files %}
        <option value="{{ f }}" {% if f==input %} selected {% endif %}>{{ f }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-3">
      <div class="mb-3">
        <!-- <label for="fileInput" class="form-label">Default file input example</label> -->
        <input class="form-control" type="file" id="fileInput">
      </div>
    </div>
    <div class="col-md-3">
      <div class="mb-4 mb-lg-0 d-grid">
        <a target="_blank" class="btn btn-outline-gray-600 text-center" id="convertBtn">
          <!-- <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg> -->
          Convert
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-grid">
        <a target="_blank" href="/getPlotCSV" class="btn btn-outline-gray-600 text-center">
          <!-- <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg> -->
          Download Sample Template
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card border-0 shadow mb-4">

  <div class="card-body">

    <table id="api-datatable" class="table">
      <!-- <thead>
        <tr>
          <th>SI NO</th>
          <th>Br Code</th>
          <th>Br Name</th>
          <th>Item</th>
          <th>Item Name</th>
          <th>Order Qty</th>
          <th>Supplier Code</th>
          <th>Supplier Name</th>
        </tr>
      </thead> -->
    </table>

  </div>


</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- CDN -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script> -->

<!-- APP JS -->
<script src="/static/datatables/app.js"></script>

<!-- Custom Code -->
<script>

  var table;

  // Table provisioning  
  fetch('/api/from_csv?input={{ input }}')
    .then(response => response.json())
    .then(data => {
      if (!data.length) {
        return
      }

      console.log(typeof data);
      table = new simpleDatatables.DataTable("#api-datatable", {
        data: {
          headings: Object.keys(data[0]),
          data: data.map(item => Object.values(item))
        },
      })
    })



  // function handleConvertClick() {
  //   const fileInput = document.getElementById('fileInput');
  //   if (fileInput.files.length > 0) {
  //     const file = fileInput.files[0];
  //     const reader = new FileReader();

  //     reader.onload = function (e) {
  //       const data = new Uint8Array(e.target.result);
  //       processSupplierTables();
  //     };

  //     reader.readAsArrayBuffer(file);
  //   } else {
  //     toastr.error('Please select a file.', 'Error');
  //   }
  // }

  function handleFileUpload(event) {
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onload = function (e) {
      const data = new Uint8Array(e.target.result);
      // console.log(data);
      processData(data);
      // console.log('namsate')
    };

    reader.readAsArrayBuffer(file);
  }

  function processData(data) {
    const workbook = XLSX.read(data, { type: 'array' });
    const worksheet = workbook.Sheets[workbook.SheetNames[0]];
    const jsonData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });
    const realJsonData = JSON.stringify(jsonData);
    // console.log(realJsonData);
    const transformedData = {};
    console.log(transformedData);

    for (let i = 2; i < jsonData.length; i++) {
      transformedData[i - 1] = {
        SI_Code: String(jsonData[i][0]),
        BR_Code: String(jsonData[i][1]),
        BR_Name: String(jsonData[i][2]),
        Item: String(jsonData[i][3]),
        Item_Name: String(jsonData[i][4]),
        Order_Qty: String(jsonData[i][5]),
        Supplier_Code: String(jsonData[i][6]),
        Supplier_Name: String(jsonData[i][7]),
      };
    }

    table.destroy();

    const tableElement = document.querySelector("#api-datatable");

    tableElement.innerHTML = "";

    const tableHead = document.createElement("thead");
    const headingRow = document.createElement("tr");

    Object.keys(transformedData[1]).forEach((heading) => {
      const th = document.createElement("th");
      th.textContent = heading;
      headingRow.appendChild(th);
    });

    tableHead.appendChild(headingRow);
    tableElement.appendChild(tableHead);

    const tableBody = document.createElement("tbody");

    Object.values(transformedData).forEach((row) => {
      const newRow = document.createElement("tr");
      Object.values(row).forEach((cellData) => {
        const newCell = document.createElement("td");
        newCell.textContent = cellData;
        newRow.appendChild(newCell);
      });
      tableBody.appendChild(newRow);
    });

    tableElement.appendChild(tableBody);
    // table = new simpleDatatables.DataTable("#api-datatable");

  }

  $('#fileInput').change(handleFileUpload);


  document.getElementById("convertBtn").addEventListener("click", function () {
    const tableElement = document.getElementById("api-datatable");
    const rows = tableElement.querySelectorAll("tbody tr");
    const params = new URLSearchParams();
    rows.forEach((row, index) => {
      const cells = row.querySelectorAll("td");
      cells.forEach((cell, cellIndex) => {
        params.append(`data[${index}][${cellIndex}]`, cell.textContent);
      });
      console.log(cells);
    });

    window.location.href = "/getconvert_fun?" + params.toString();
    window.location.target = '_blank';
  });



</script>

{% endblock javascripts %}