{% extends "layouts/base.html" %}

{% block title %} Purchase Order {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"
    type="text/css">
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"> -->

<!-- APP Style -->
<link type="text/css" href="/static/datatables/app.css" rel="stylesheet">
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<style>

</style>

{% endblock stylesheets %}

{% block content %}



<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="#">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="#">Upload_file</a></li>
            <li class="breadcrumb-item active" aria-current="page">Central Purchase</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Central Purchase Order</h1>
            <!-- <p class="mb-0"> -->
            <!--        The information is loaded from <strong>samples\{{ input }}</strong>.-->

            <!-- <br /> -->
            <!--        {{ msg }}-->
            <!-- </p> -->
        </div>
        <div class="mb-3 mb-lg-0">
            <div class="row">
                <a href="/history_log" class="btn btn-outline-gray-600 text-center"> History
                </a>
            </div>

            <!-- <p class="mb-0"> -->
            <!--        The information is loaded from <strong>samples\{{ input }}</strong>.-->

            <br />
            <!--        {{ msg }}-->
            <!-- </p> -->
        </div>
    </div>

    <div class="">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="inputField">Label</label>
                                <input type="text" class="form-control" id="inputField" placeholder="Enter something">
                            </div>
                            <div class="d-grid mt-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- CDN -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script> -->

<!-- APP JS -->
<script src="/static/datatables/app.js"></script>

<!-- Custom Code -->


{% endblock javascripts %}